.lineContainer{
	position: relative;
	height: 50px;
}

.line{
	width: 5px;
	height: 90px;
	position: absolute;
	top: -30px;
	left: 5px;
}

.colorWrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 100px;
}

@media screen and (max-width: 768px){
	.colorWrapper{
		margin-top: -400px;
	}
	.Heading{
		top: 650px;
	}
}

.itemsWrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Heading{
	font-weight: bold;
	text-align: center;
	font-size: 48px;
	color: #4470ad;
	position: absolute;
	transform: translate(-5%, -275%);
}

.colorName{
	text-align: center;
	color: #1a1a1a;
}



.lineWrapper{
	text-align: left;
	padding: 20px 0px;
	padding-left: 30%;
}

.nameWrapper{
	display: flex;
	justify-content: flex-start;
}

.box{
	width: 20px;
	height: 20px;
	/*border: solid black 1px;*/
}

.btn{
	position: absolute;
	background: red;
	z-index: 99999999;
}

